name: Cypress
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v1
      # - name: Install Cypress
      #   run: npm install cypress
#       - name: Install Serve
#         run: yarn global add serve
#       - name: Serve site
#         run: |
#           cd cypress-ci
#           yarn run start
#         timeout-minutes: 1
#       - name: Run Cypress
#         uses: docker://cypress/included:3.8.1
#         with:
#           args: cypress-ci
