name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v1
      - name: Branch name
        run: echo running on branch ${GITHUB_REF##*/}
      - name: Environemnt Variables
        run: env
      - name: Github
        run: git --no-pager branch
      - name: Github
        run: git --no-pager branch -a
      - name: Github
        run: git --no-pager branch -r
      - name: Github
        run: git --no-pager show-branch
      - name: Github
        run: git show-ref
      - name: Build
        run: docker build -t tedmiston/tag-example:${GITHUB_REF##*/} .
