name: CI
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v1
#       - uses: docker://bats/bats:latest
#         with:
#           args: bats-ci/addition.bats
      - name: Build Bats
        run: |
          git clone https://github.com/bats-core/bats-core.git
          cd bats-core
          sudo ./install.sh /usr/local
      - name: Setup
        run: sudo apt install -y dc 
      - name: Run Bats tests
        run: bats bats-ci/addition.bats
