name: CI
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v1
      - name: git log
        run: git --no-pager log
      - name: showref
        run: git show-ref
      - name: Branch ID
        run: echo "##[set-output name=id;]$(git --no-pager log --first-parent --pretty=oneline | head -1 |  awk '{print $3;}')"
        id: branch
      - name: echo
        run: echo ${{ steps.branch.outputs.id }}
      - name: Match Branch
        run: git show-ref | grep ${{ steps.branch.outputs.id }} | awk '{print $2;}'

